// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap Icons
@import 'boxicons';

.logo {
  background-color: $red;
  width:            160px;
  float:            left;
  color:            white;
  font-size:        16px;
  font-weight:      bold;
  cursor:           pointer;
}

a {
  text-decoration: none !important;
  color:           white !important;
  cursor:          pointer;
}

.arrow-right {
  float:         left;
  border-top:    25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left:   25px solid $red;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

#contentCard {
  display: none !important;
}

.icon {
  cursor: pointer;
}

.text-grey {
  color: grey !important;
}

.h-35px {
  height:      35px;
  line-height: 35px;
}

.loading-circle {
  display: inline-block;
  width:   21px;
  height:  21px;
}

.loading-circle:after {
  content:       ' ';
  display:       block;
  width:         21px;
  height:        21px;
  margin:        8px;
  border-radius: 50%;
  border:        6px solid;
  border-color:  #DC3545 transparent #DC3545 transparent;
  animation:     lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}